.dialog_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 9999999;
    background: rgba(0,0,0,.5019607843);
}
.noti_container{
    max-width: 80%;
    max-height: 80%;
    min-width: 40%;
    padding: 15px 30px;
    box-sizing: border-box;
    -webkit-backdrop-filter: blur(calc((30 / 14) * 1em));
    backdrop-filter: blur(calc((30 / 14) * 1em));
    background: rgba(0,0,0,.5019607843);
}
.title_container {
    width: 100%;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
}
.message_container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}
.actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.actions .button{
    background: none;
    border: none;
    cursor: pointer;
    margin: calc((10 / 14) * 1em) calc((20 / 14) * 1em);
    padding: calc((5 / 14) * 1em) calc((10 / 14) * 1em);
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    outline: none;
}
.actions .isfill {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: calc((5 / 14) * 1em);
    padding: 6px 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    background: #ffffff;
    border: solid 1px #ffffff;
    color: #000;
}